extends _base

block head
  title SNAP
  link(href=getLib('normalize-css/normalize.css'), rel='stylesheet')
  link(href=getLib('lato/css/lato.min.css'), rel='stylesheet')
  link(href=getSnap('dist/css/galaxies_main.min.css'), rel='stylesheet')
  if platform === 'desktop'
    link(href=getSnap('dist/css/galaxies_desktop.min.css'), rel='stylesheet')
  else
    link(href=getSnap('dist/css/galaxies_mobile.min.css'), rel='stylesheet')
