extends _classic

block body
  #body(ng-controller='MainSnapCtrl',ng-click='touch()')
    #area-container
      #area-background(ng-controller='BackgroundCtrl',ng-include=getSnap('assets/classic/partials/background.html', true))
      #area-content
        #area-top(ng-controller="NavigationCtrl",ng-include=getSnap('assets/classic/partials/navigation-top.html', true))
        .area-view(ng-view)
        .area-view(ng-controller="HomeCtrl",ng-include=getSnap('assets/classic/partials/home.html', true),ng-show='visible')
        .area-view(ng-controller="MenuCtrl",ng-include=getSnap('assets/classic/partials/menu.html', true),ng-show='visible')
        .area-view(ng-controller="CategoryCtrl",ng-include=getSnap('assets/classic/partials/category.html', true),ng-show='visible')
        .area-view(ng-controller="ItemCtrl",ng-include=getSnap('assets/classic/partials/item.html', true),ng-show='visible')
        .area-view(ng-controller="CartCtrl",ng-include=getSnap('assets/classic/partials/cart.html', true),ng-show='visible')
        .area-view(ng-controller="ItemEditCtrl",ng-include=getSnap('assets/classic/partials/item-edit.html', true),ng-show='visible')
        .area-view(ng-controller="WebCtrl",ng-include=getSnap('assets/classic/partials/web.html', true),ng-show='visible')
        #area-bottom(ng-controller="NavigationCtrl",ng-include=getSnap('assets/classic/partials/navigation-bottom.html', true))
    #area-screensaver(ng-controller='ScreensaverCtrl',ng-include=getSnap('assets/classic/partials/screensaver.html', true),ng-show='visible')
    #area-notifiation(ng-controller='NotificationCtrl',ng-include=getSnap('assets/classic/partials/notification.html', true),ng-show='visible')
    #area-dialog(ng-controller='DialogCtrl',ng-include=getSnap('assets/classic/partials/dialog.html', true),ng-show='visible')
  script(type='text/javascript').
    (function() {
      (new snap.SnapApplication()).initialize();
    })();
